*.mlapp binary
*.mlx binary
*.mat binary
*.fig binary
*.mdl binary
*.slx binary
*.mdlp binary
*.slxp binary
*.sldd binary
*.p binary
*.m binary
*.mexa64 binary
*.mexmaci64 binary
*.mexw64 binary
*.xlsx binary
*.jpg binary
*.jpeg binary
*.png binary
*.pdf binary
*.docx binary